pipeline/Formula1.json
{
	"name": "Formula1",
	"properties": {
		"activities": [
			{
				"name": "Download  Formula1 DB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings",
								"preserveZipFileNameAsFolder": false
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "source_dataset_remote_database_in_csv",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sink_dataset_rawdata_csv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Ingest circuits",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Download  Formula1 DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/salman.lashkarara@diconium.com/Formula1-Databricks/notebooks/ingestions/ingest_circuite"
				},
				"linkedServiceName": {
					"referenceName": "linked_service_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest constructor standing",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Download  Formula1 DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/salman.lashkarara@diconium.com/Formula1-Databricks/notebooks/ingestions/ingest_constructor_standings"
				},
				"linkedServiceName": {
					"referenceName": "linked_service_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest constructors",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Download  Formula1 DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/salman.lashkarara@diconium.com/Formula1-Databricks/notebooks/ingestions/ingest_constructors"
				},
				"linkedServiceName": {
					"referenceName": "linked_service_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ingest drivers",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Download  Formula1 DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/salman.lashkarara@diconium.com/Formula1-Databricks/notebooks/ingestions/ingest_driver"
				},
				"linkedServiceName": {
					"referenceName": "linked_service_databricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "List all ingested data",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Ingest circuits",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Ingest constructor standing",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Ingest drivers",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Ingest constructors",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "source_dataset_processed_data_parquet",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Loop over all ingested elements",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List all ingested data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List all ingested data').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Persist objects in database",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@item().name",
											"type": "Expression"
										},
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "source_dataset_processed_data_parquet",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "sink_dataset_sqlserver_database_for_processeddata",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-12-15T14:18:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}